/*doriesit formular  dizajn navygacie*/
header, footer, #container {box-sizing: border-box;}
/* *************************** Small screens ************************************** */
@media only screen {
#container { position:fixed ; top:0 ; left:0; width: 30em; height: 100%;}
header{position:fixed ; top:0 ; left:0; width: 100%; height: 11.4%; }
/*top aby bola navigacia prilepena k headeru*/
nav{position:fixed; top: 11.4%; left:0; width:12%; height: 83.7%;}
section{position:fixed;top: 11.4%; left: 12.5%; width: 87.5%; height: 84%;}
footer{position:fixed;top: 0; left: 0; width: 100%; height: 5%;}
}
/* min-width 320px and max-width 480px*/
@media only screen and (min-width: 20em) and (max-width: 30em) {
#container {  position:fixed ; top:0 ; left:0; width: 30em; height: 100%;}
header{position:fixed ; top:0 ; left:0; width: 100%; height: 14.4%;}
nav{position:fixed; top: 14.4%; left:0; width:12.5%; height: 83.7%;}
section{position: fixed;top: 14.4%; left: 12.5%; width: 87.5%; height: 83.7%; }
footer{position:fixed;top: 95%; left: 0; width: 100%; height: 5%;}
}
/* min-width 481px and max-width 640px */
@media only screen and (min-width: 30.063em) and (max-width: 40em) {
#container {  position:fixed; top:0 ; left:0; width: 40em; height: 100%;}
header{position:fixed; top:0; left:0; width: 100%; height: 14.4%;}
nav{position:fixed;top:14.4%;left:0; width:12.5%; height: 80.7%;}
section{position:fixed; top: 14.4%; left: 12.5%; width: 87.5%; height: 80.7%;}
footer{position:fixed;top: 95%; left: 0; width: 100%; height: 5%;}
}
/* min-width 641px */
@media only screen and (min-width: 40.063em) {
#container { position: fixed ; top:0 ; left:0; width: 40.0630em; height: 100%;}
header{position:fixed ; top:0 ; left:0; width: 100%; height: 7%;}
nav{position:fixed; top: 7%; left:0; width:12.5%; height: 82%;}
section{position:fixed; top: 7%; left: 12.5%; width: 87.5%; height: 82%;}
footer{position:fixed; top: 95%; left: 0; width: 100%; height: 5%;}
}
/* min-width 641px and max-width 1024px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
#container { position:fixed ; top:0 ; left:0; width: 64em; height: 100%;}
header{position:fixed; top:0 ; left:0; width: 100%; height: 14.4%;}
nav{position:fixed; top: 14.4%; left:0; width:12.5%; height: 80.7%;}
section{position:fixed; top: 14.4%; left: 12.5%; width: 87.5%;height: 80.7%;}
footer{position:fixed; top: 95%; left: 0; width: 100%; height: 5%;}
}
/* *************************** Large screens ************************************** */
/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
#container { position:fixed ; top:0 ; left:0; width: 64.063em; height: 100%; }
header{position:fixed ; top:0 ; left:0; width: 100%; height: 7%;}
nav{position:fixed;top: 7%; left:0; width:12.5%; height: 90%;}
section{position:fixed; top: 11.4%; left: 12.5%; width: 87.5%; height: 90%;}
footer{position:fixed;top: 95%; left: 0; width: 100%; height: 5%;}
}
/* min-width 1025px and max-width 1440px */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
#container { position:fixed ; top:0 ; left:0; width: 90em; height: 100%;}
header{position:fixed ; top:0 ; left:0; width: 100%; height: 14.4%;}
nav{position:fixed;top: 14.4%;left:0; width:12.5%; height: 80.7%;}
section{position:fixed; top: 14.4%; left: 12.5%; width: 87.5%; height: 80.7%;}
footer{position:fixed;top: 95%; left: 0; width: 100%; height: 5%;}
}
/* *************************** XLarge screens ************************************* */
/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
#container { position:fixed ; top:0 ; left:0; width: 90.063em; height: 100%;}
header{position:fixed ; top:0 ; left:0; width: 100%; height: 5%;}
nav{position:fixed;top: 5%; left:0; width:12.5%; height: 90%;}
section{position:fixed;top: 11.4%;left: 12.5%;width: 87.5%;height: 90%;}
footer{position:fixed;top: 95%; left: 0; width: 100%; height: 5%;}
}
/* min-width 1441px and max-width 1920px*/
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
#container { position:fixed ; top:0 ; left:0; width: 320em; height: 100%;}
header{position:fixed ; top:0 ; left:0; width: 100%; height:14.4%;}
nav {position:fixed;top: 14.4%; left:0; width:12.5%; height: 80.7%;}
section{position:fixed; top: 14.4%; left: 12.5%; width: 87.5%; height: 80.7%}
footer{position:fixed;top: 95%; left: 0; width: 100%; height: 5%;}
}
/* *************************** XXLarge screens ************************************ */
/* min-width 1921px*/
@media only screen and (min-width: 120.063em) {
#container { position:fixed ; top:0 ; left:0; width: 120.063em; height: 100%; }
header{position:fixed ; top:0; left:0; width: 100%;  height: 14.4%;}
nav {position:fixed;top: 14.4%; left:0; width:12.5%; height: 80.7%;}
section{position:fixed;top: 14.4%; width: 87.5%;height: 80.7%;left: 12.5%;}
footer{position:fixed;top: 95%; left: 0; width: 100%; height: 5%;}
}
/**************************************************styly, background, colors****************************************************************************/
/**body*/
body{
margin: 0;
font-family: "Times New Roman", arial, verdena;
}
/********************************************************************************************************************************/
/**header*/
header{

color: white;
background: black;
background: linear-gradient(top, black 0%, #7b0d0d 100%);
background: -moz-linear-gradient(top, black 0%, #7b0d0d 100%);
background: -webkit-linear-gradient(top, black 0%, #7b0d0d 100%);
}


/********************************************************************************************************************************/
/**Nav*/
nav {
background: black;
background: linear-gradient(bottom, black 0%, #7b0d0d 100%);
background: -moz-linear-gradient(bottom, black 0%, #7b0d0d 100%);
background: -webkit-linear-gradient(bottom, black 0%, #7b0d0d 100%);
position: fixed;
}
nav ul ul{
display: none;
}
nav ul{
margin: 0%;
padding: 0%;
text-align: center;
list-style: none;
text-decoration: none;
}
nav ul a{
color: white;
text-decoration: none;
}
nav ul li{
background: linear-gradient(bottom, black 0%, #7b0d0d 100%);
background: -moz-linear-gradient(bottom, black 0%, #7b0d0d 100%);
background: -webkit-linear-gradient(bottom, black 0%, #7b0d0d 100%);
box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
border-radius:5px;
padding: 15%;
padding-left: 0;
padding-right: 0;
}
nav ul li ul li{
margin: 0%;
margin-left: 0;
margin-right: 0;
background: linear-gradient(bottom, black 0%, #7b0d0d 100%);
background: -moz-linear-gradient(bottom, black 0%, #7b0d0d 100%);
background: -webkit-linear-gradient(bottom, black 0%, #7b0d0d 100%);
box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
border-radius:5px;
padding: 10%;
padding-left: 0;
padding-right: 0;
}
nav ul li a:hover{
color:orange;
}
nav ul li:hover> ul {
display : block;
padding: 0;
}
/********************************************************************************************************************************/
/**section*/

/********************************************************************************************************************************/
/**footer*/
footer{
bottom: 0;
position: fixed;
width: 100%;
background: black;
background: linear-gradient(top, black 0%, #7b0d0d 100%);
background: -moz-linear-gradient(top, black 0%, #7b0d0d 100%);
background: -webkit-linear-gradient(top, black 0%, #7b0d0d 100%);
color: white;
}
