@CHARSET "UTF-8";
  header, section, footer, aside, nav, article, figure, audio, video, canvas  { display:block; }
.red {
	color:red;
}

/* *************************** Small screens ************************************** */
@media only screen { } 

/* min-width 320px and max-width 480px*/
@media only screen and (min-width: 20em) and (max-width: 30em) {
body {
   background-color: #af1000;

   margin:0;   
   font-family: "Times New Roman";  
}

header{
  margin: 0;
 padding: 0%;
 height: 10%;
 background-color: #7b0d0d;
 width: 100%;
 position: fixed;
}


header h1 {
	color: #FFFFFF;
	
	margin: 0;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	width: 100%;
	background: #FCEBD1; 
	margin-top: 11%;
	padding:0;
	list-style: none;
	position: fixed;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	
	}
	
nav ul li {
	float: left;
	width:25%;
}
	nav ul li:hover {
		text-decoration: underline;
		 
	
	}
		nav ul li:hover a {
			color: black;
		}
	
	nav ul li a {
		display: block; padding: 0px 40px;
		color: #757575; text-decoration: none;
		text-align: center;
	}
nav ul ul {
	margin-top: 0;
	background: #FCEBD1; border-radius: 0px; padding: 0;
	width:25%;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		

	}
		nav ul ul li a{
		text-align: center;
		

	}
	
section {
 margin-top: 16%;
 float:left;
 width: 100%; 
 height: 90%;
 background-color: white;
}

img.mapa {/*NASTAVIT MAPU*/
	 width: 100%;
    height: 737.5px;
    
} 



footer{/*UMIESTNENIE PATICKY*/
 
 width: 100%;
 margin-top: 105.4%;
 background-color: #7b0d0d;
 color: white; 
 position: fixed;
 
}

	
}

/* min-width 481px and max-width 640px */
@media only screen and (min-width: 30.063em) and (max-width: 40em) { } 

/* *************************** Medium screens ************************************* */
/* min-width 641px */
@media only screen and (min-width: 40.063em) { } 

 /* min-width 641px and max-width 1024px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }
 body {
   background-color: #af1000;

   margin:0;   
   font-family: "Times New Roman";  
}

header{
 margin: 0;
 padding: 0%;
 height: 10%;
 background-color: #7b0d0d;
 width: 100%;
 position: fixed;
}


header h1 {
	color: #FFFFFF;
	
	margin: 0;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
	   margin: 0;
		display: block;
		float: none;
		padding: 0;
		background: #7b0d0d;
		text-decoration: none;
		
	}
nav ul {
	background-color: #7b0d0d; 
	text-decoration: none;
	width: 7%;
   padding: 0;
   margin: 0;
   
	list-style: none;
	float:left; 
	display: inline-table;
}

nav ul li{
	 margin:180%;
	 border-style: solid;
    border-width: medium;
    
    text-align: center;
  	 margin-left: 0;
  	 margin-right: 0; 
}
nav ul li ul li{
	 padding:0;
	 margin:0;
    border:none;
	 background: #7b0d0d;
}
nav ul li ul li a{
    
	 background: #7b0d0d;
}
nav ul li ul li a:hover{
	 background: black;
}
nav ul :hover{
	 background: black;
}
nav ul li a{
	text-decoration: none;
	padding: 0;
   margin: 0;
	color: white;

}




section {
 margin: 0;
 float:right;
 width: 93%; 
 height: 90%;
 background-color: white;
}

img.mapa {
	 width: 100%;
    height: 737.5px;
    
} 



footer{
 
 width: 100%;
 margin-top: 72.3%;
 background-color: #7b0d0d;
 color: white; 
 position: fixed;
 
}

/* *************************** Large screens ************************************** */
/* min-width 1025px */
@media only screen and (min-width: 64.063em) { 
/* upravit*/	
 body {
   background-color: #af1000;

   margin:0;   
   font-family: "Times New Roman";  
}

header{
 margin: 0;
 padding: 0%;
 background-color: #7b0d0d;
 width: 100%;
 position: fixed;
}


header h1 {
	color: #FFFFFF;
	
	margin: 0;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
	   margin: 0;
		display: block;
		float: none;
		padding: 0;
		text-decoration: none;
	}
nav ul {
	background-color: #7b0d0d; 
	text-decoration: none;
	width: 7%;

   padding: 0;
   margin: 0;
  
	list-style: none;
	float:left; 
	display: inline-table;
}

nav ul li{
	 margin:180%;
  margin-left: 0;
  margin-right: 0;

}
nav ul li ul li{
	 padding:0;
	 margin:0;
}
nav ul li a{
	text-decoration: none;
	padding: 0;
   margin: 0;
	color: white;

}



section {
 margin: 0;
 float:right;
 width: 93%; 
 height: 90%;
 background-color: white;
}
 

footer{
 
 width: 100%;
 margin-top: 67%;
 background-color: #7b0d0d;
 color: white; 
 position: fixed;
 
}
} 

/* min-width 1025px and max-width 1440px */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } 

/* *************************** XLarge screens ************************************* */
/* min-width 1441px */
@media only screen and (min-width: 90.063em) { } 

/* min-width 1441px and max-width 1920px*/
@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
body {
   background-color: #af1000;

   margin:0;   
   font-family: "Times New Roman";  
}

header{
 margin: 0;
 padding: 0%;
 height: 10%;
 background-color: #7b0d0d;
 width: 100%;
 position: fixed;
}


header h1 {
	color: #FFFFFF;
	
	margin: 0;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
	   margin: 0;
		display: block;
		float: none;
		padding: 0;
		background: #7b0d0d;
		text-decoration: none;
		
	}
nav ul {
	background-color: #7b0d0d; 
	text-decoration: none;
	width: 7%;
   padding: 0;
   margin: 0;
   
	list-style: none;
	float:left; 
	display: inline-table;
}

nav ul li{
	 margin:180%;
	 border-style: solid;
    border-width: medium;
    
    text-align: center;
  	 margin-left: 0;
  	 margin-right: 0; 
}
nav ul li ul li{
	 padding:0;
	 margin:0;
    border:none;
	 background: #7b0d0d;
}
nav ul li ul li a{
    
	 background: #7b0d0d;
}
nav ul li ul li a:hover{
	 background: black;
}
nav ul :hover{
	 background: black;
}
nav ul li a{
	text-decoration: none;
	padding: 0;
   margin: 0;
	color: white;

}




section {
 margin: 0;
 float:right;
 width: 93%; 
 height: 90%;
 background-color: white;
}
 

footer{
 
 width: 100%;
 margin-top: 67.5%;
 background-color: #7b0d0d;
 color: white; 
 position: fixed;
 
}
} 

/* *************************** XXLarge screens ************************************ */
/* min-width 1921px*/
@media only screen and (min-width: 120.063em) { } 
